@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: "Satoshi Regular";
	src: url("sende/fonts/Satoshi-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Satoshi Medium";
	src: url("sende/fonts/Satoshi-Medium.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Poppins";
	font-weight: normal, bold, lighter;
	font-style: normal;
}


* {
	margin:0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	/*background-color: #F7F7F6;*/
}


h1{
	font-family: "Poppins";
	font-weight: bold;
	font-size: 4em;
	color: #0D9939;
}
h2{
	font-family: "Poppins";
	font-weight: 600;
	font-size: 1.625em;
	color: #0D9939;
	padding: 20px 50px 0 50px;
}
.h2blanco{
	font-family: "Poppins";
	font-weight: 600;
	font-size: 1.625em;
	color: #F7F7F6;
	width: 100%;
	margin-bottom: 20px;
}
h3{
	font-family: "Poppins";
	font-weight: 600;
	font-size: 1.25em;
	color: #1D1D1B;
}
h5{
	font-family: "Poppins";
	font-weight: 500;
	font-size: 1.25em;
	color: #1D1D1B;
	padding-top: 30px;
}

h4{
	font-family: "Poppins";
	font-weight: 600;
	font-size: 1.25em;
	color: #2AA8A5;
}

p {
	font-family: "Poppins";
	font-weight: normal;
	font-size: 1.125em;
	line-height: 1.7em;
	color:#1D1D1B;
}

.bold {
	font-family: "Poppins";
	font-weight: 600;
	font-size: 1.125em;
	line-height: 1.7em;
	color:#1D1D1B;
}
/*--------------------------ACÁ ARRANCA EL HEADER---------------------------------------*/

header {
	display: flex;
	background-color:#0D9939;
	width: 100%;
	max-width: 1360px;
	height: 75px;
	position: fixed;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
}

.contenedor{
	display: flex;
	max-width: 1360px;
	width: 100%;
}
.botonera {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.botones{
	display: flex;
	font-family: "Poppins";
	font-weight: normal;
	font-size: 1.10em;
	color: #F7F7F6;
	width: 514px;
	justify-content: space-between;
}
.boton:hover{
	cursor: pointer;
	color:#F7F7F6;
	font-weight: 600;
}
.boton:link, .boton:visited{
	text-decoration: none;
	color:#F7F7F6;
}

.boton:active{
	color:#1D1D1B;
}
/*----------------------------------ACÁ ARRANCA EL MAIN----------------------------------------------*/

/*----------------------------------ACÁ ARRANCA EL BANNER--------------------------------------------*/

main {
	background-color:#F7F7F6;
	width: 100%;
}
.banner{
	width: 100%;
	height: 538px;
	background-image: url("img/banner.jpg");
	background-repeat: no-repeat;
}
.presentacion{
	display: flex;
	flex-direction: column;
	padding: 100px 0 0 50px;
	width: 35%;
}
/*--------------------------ACÁ ARRANCA EL NUESTROS VALORES--------------------------------------*/
.valores{
	display: flex;
	width: 100%;
	height: 410px;
	padding: 0 50px 0 0;
	background-color: #F7F7F6;
}
.valoresiconos{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	width: 100%;
	padding-top: 120px;
	position: absolute;
}
.seguridad, .variedad, .ecofriendly{
display: flex;
flex-direction: column;
align-items: center;
}
/*--------------------------ACÁ ARRANCA EL PARTES DE LA BICI--------------------------------------*/
.partes{
	background-color: #F7F7F6;
}

.labici{
    position: relative;
    display: inline-block;
	padding-top: 40px;
}
.partesdetalle1{
	display: flex;
	flex-direction: column;
	width: 397px;
	height: 144px;
	border-radius: 18px;
	background-color: #F7F7F6;
	position: absolute;
	padding: 12px 12px 12px 18px;
	top:110px;
	left:50px;
}
.punto{
	display: flex;
	position: absolute;
	top:110px;
	left:480px;
	cursor: pointer;
}
.partesdetalle4{
	display: flex;
	flex-direction: column;
	width: 397px;
	height: 144px;
	border-radius: 18px;
	background-color: #F7F7F6;
	position: absolute;
	padding: 12px 12px 12px 18px;
	top:450px;
	left:850px;
}
.partesdetalle2, .partesdetalle3{
	display: none;
}
.quieroalquilar{
	display: flex;
	justify-content: center;
	width: 420px;
	height: 50px;
	border-radius: 9px;
	color: #2AA8A5;
	background-color: #F7F7F6;
	position: absolute;
	padding: 10px;
	top:650px;
	left:470px;
	
}
.quieroalquilar:hover{
	display: flex;
	justify-content: center;
	width: 420px;
	height: 50px;
	border-radius: 9px;
	color: #F7F7F6;
	background-color: #2AA8A5;
	position: absolute;
	padding: 10px;
}

.vermas{
	display: flex;
	justify-content: center;
	font-family: "Poppins";
	font-weight: 500;
	font-size: 1.75em;
	color: #0D9939;
}
.vermas:hover{
	color: #2AA8A5;
}
/*--------------------------ACÁ ARRANCA EL RESEÑAS Y OPINIONES--------------------------------------*/
.opiniones{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	padding: 20px 50px 0 0px;
	width: 100%;
	height: 550px;
	background-image: url("img/texturaopiniones.jpg");
}
.personas{
	display: flex;
	align-items:baseline;
	padding-top: 100px;
}
.opinion{
	text-align: center;
	font-family: "Poppins";
	font-weight: bold;
	font-size: 1em;
	line-height: 1.7em;
	color:#F7F7F6;
	padding-top: 20px;
	width:100%;
}

.op1, .op2, .op3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.nombreusuario{
	font-size: 0.9em;
	color:#F7F7F6;
	text-align: center;
}

.flechaderecha{
	display: flex;
	justify-content: center;
	cursor: pointer;
}

/*--------------------------ACÁ ARRANCA EL FORMULARIO--------------------------------------*/

.formulario{
	display: flex;
	width: 100%;
	height: 770px;
	background-image: url("img/piedra.jpg");
	padding: 50px 50px 0 50px;
}
.dejaopinion{
	flex-direction: column;
	padding-top: 50px;
	width: 40%;
}
.blanco{
	font-family: "Poppins";
	font-weight: normal;
	font-size: 1.125em;
	line-height: 1.7em;
	color:#F7F7F6;
}
.boldblanco{
	font-family: "Poppins";
	font-weight: bold;
	font-size: 1.70em;
	line-height: 1.7em;
	color:#F7F7F6;
}
.formhome{
	height: 580px;
	width: 553px;
	background: #F7F7F6;
	border-radius: 18px;
	padding: 50px;
	margin-left: 70px;
}

.nombre{
	background: #F7F7F6;
	border: 2px solid #0D9939;
	border-radius: 5px;
	height: 35px;
	font-family: "poppins";
	font-size: 1em;
	color: #1D1D1B;
	padding: 4px;
	width: 100%;
	margin-top: 5px;
}
.mailytel{
	display: flex;
	margin-top: 10px;
}
.telefono{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: 10px;
}
.correo{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: 10px;
}
.tel {
	display: flex;
	background: #F7F7F6;
	border: 2px solid #0D9939;
	border-radius: 5px;
	height: 35px;
	font-family: "poppins";
	font-size: 1em;
	color: #1D1D1B;
	padding: 4px;
	width: 90%;
	margin-top: 5px;
}
.mail {
	display: flex;
	background: #F7F7F6;
	border: 2px solid #0D9939;
	border-radius: 5px;
	height: 35px;
	font-family: "poppins";
	font-size: 1em;
	color: #1D1D1B;
	padding: 4px;
	width: 100%;
	margin-top: 5px;
}
.mensaje{
	margin-top: 10px;
}
.msj{
	background: #F7F7F6;
	border: 2px solid #0D9939;
	border-radius: 9px;
	height: 218px;
	font-family: "poppins";
	font-size: 1em;
	color: #1D1D1B;
	padding: 4px;
	width: 100%;
	margin-top: 5px;
}
.finform{
	display: flex;
}
.enviar{
	cursor: pointer;
	background: #0D9939;
	border-radius: 9px;
	border: none;
	height: 40px;
	font-family: "poppins";
	font-weight: 400;
	font-size: 1.25em;
	color: #F7F7F6;
	padding: 4px;
	width: 100%;
	margin-top: 20px;
}
.reset{
	background: #1D1D1B;
	border-radius: 9px;
	border: none;
	height: 40px;
	font-family: "poppins";
	font-weight: normal;
	font-size: 0.9em;
	color: #F7F7F6;
	padding: 4px;
	width: 40%;
	margin-top: 20px;
	margin-right: 10px;
}

/*--------------------------ACÁ ARRANCA EL FOOTER---------------------------------------*/
footer{
	width: 100%;
	height: 230px;
	background-image: url("img/montañafooter.png");
	position: relative;
	top: 20px;
	padding: 100px 50px 0 50px;
	display: flex;
	flex-direction: column;
}
.redes{
	display: flex;
	width: 12%;
	margin-top: 15px;
	justify-content: space-between;
}